%html
  %head
    %title MailByte
    = stylesheet_link_tag    "style"
    = javascript_include_tag "application" 
    = csrf_meta_tags
  %body
    #wrapper
      #header
        %h2 MailByte
        %p.user 
          - if loggedIn
            Hello
            = session[:user][:name]+"."
            = link_to "Logout", "/logout"
            | Balance: 
            = session[:user][:balance]
          - else
            = link_to "Login", "/login"
      #main
        = yield
